@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default web browser input focus outline */
input,
textarea,
select,
button {
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
